<% wrap_layout :layout do %>
  <h1><%= current_page.data.name %></h1>

  <dl class="row">
    <dt class="col-sm-3">Licensed Area</dt>
    <dd class="col-sm-9"><%= current_page.data.area %></dd>
    <dt class="col-sm-3">Frequency</dt>
    <dd class="col-sm-9"><%= current_page.data.block %> (<%= current_page.data.frequency %> MHz)</dd>
    <dt class="col-sm-3">Number of Transmitters</dt>
    <dd class="col-sm-9"><%= current_page.data.transmitter_count %></dd>
  </dl>

  <h3>Services</h3>
  
  <ul>
    <% current_page.data.services.each do |service| %>
      <li>
        <% res = find_resource_by_bearer_id(service.bearer_id) %>
        <% unless res.nil? %> 
          <%= link_to(res.data.name, res) %>
        <% else %>
          <%= service.name %> <%= (service.bearer_id) %>
        <% end %>
      </td>
    <% end %>
  </ul>

  <div class="row">
    <p class="text-secondary mt-3">
      This page uses data from Ofcom that was last updated: <%= current_page.data.updated_at %>.
    </p>
  </div>

<% end %>
