<% height ||= 500 %>

<div id="map" style="height: <%= height %>px"></div>

<script type="text/javascript">
  var mymap = L.map('map').setView([<%= transmitters.first.lat %>, <%= transmitters.first.long %>], 13);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/outdoors-v11',
    accessToken: 'pk.eyJ1IjoibmpoIiwiYSI6ImNqbzJ3Ymd6OTBvbWszcW5zcGZqMzV5czkifQ.xsaghFKffSmqMcBgzacAcw'
  }).addTo(mymap);

  var transmitters = new L.featureGroup();
  <% transmitters.each do |transmitter| %>
  L.marker([<%= transmitter.lat %>, <%= transmitter.long %>]).addTo(transmitters)
    .bindPopup('<b><%== link_to(transmitter.name, transmitter.path) %></b><br /><%= transmitter.ngr %>');
  <% end %>
  transmitters.addTo(mymap);

  if (Object.keys(transmitters.getLayers()).length > 1) {
    mymap.fitBounds(transmitters.getBounds().pad(0.1));
  }
</script>
