<% content_for :page_title, @authority.name %>
<% content_for :page_description, @authority.description %>

<% content_for :head do %>
  <% unless @authority.logo.nil? %>
    <meta property="og:image:url" content="<%= @authority.logo %>" />
    <meta property="og:image:width" content="320" />
    <meta property="og:image:height" content="240" />
  <% end %>

<% end %>

<div class="row">
  <div class="col-md-8">

    <dl class="row">
      <dt class="col-sm-4">Fully Qualified Domain Name</dt>
      <dd class="col-sm-8"><%= @authority.fqdn %></dd>
      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8"><%= @authority.description || 'n/a' %></dd>
      <% unless @authority.link.nil? %>
        <dt class="col-sm-4">Website</dt>
        <dd class="col-sm-8"><%== link_to(@authority.link) %></dd>
      <% end %>
    </dl>

  </div>

  <div class="col-md-4">

    <% unless @authority.logo.nil? %>
      <img
        src="<%= @authority.logo %>"
        width="320" height="240"
        class="img-thumbnail mb-3"
        alt="<%= @authority.name %> 320x240 Logo" />
    <% end %>

  </div>
</div>

<%== partial("applications", :locals => {:type => 'authority', :authority => @authority}) %>

<div class="row">
  <div class="col-md-12">
    <h2>Services</h2>

    <% unless @services.empty? %>
      <ul>
        <% @services.each do |service| %>
          <li>
            <%== link_to(service.name, service.path) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><em>This authority does not define any UK DAB or FM services.</em></p>
    <% end %>
  </div>
</div>
