<% content_for :page_title, "List of RadioDNS Authorities in the UK" %>

<div class="row">
  <table class="table table-responsive">

  <thead>
    <tr>
      <th scope="col">FQDN</th>
      <th scope="col">Name</th>
      <th scope="col"><abbr title="TS 102 818 v3.1.1 – Service and Programme Information">RadioEPG</abbr></th>
      <th scope="col">RadioTag</th>
      <th scope="col"><abbr title="TS 101 499 v3.1.1 – Slideshow">RadioVis</abbr></th>
    </tr>
  </thead>

  <tbody>
    <% @authorities.each do |authority| %>
      <tr>
        <td>
          <%== link_to(authority.fqdn, authority.path) %></a>
        </td>
        <td>
          <%= authority.name || '-' %>
        </td>
        <td>
          <%== tick_cross(authority.have_radioepg?) %>
        </td>
        <td>
          <%== tick_cross(authority.have_radiotag?) %>
        </td>
        <td>
          <%== tick_cross(authority.have_radiovis?) %>
        </td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>
