<% content_for :page_title, @authority.name %>

<h1><%= @authority.name %></h1>

<div class="row">
  <div class="col-8">

    <dl class="row">
      <dt class="col-sm-4">Fully Qualified Domain Name</dt>
      <dd class="col-sm-8"><%= @authority.fqdn %></dd>
      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8"><%= @authority.description || 'n/a' %></dd>
      <% unless @authority.link.nil? %>
        <dt class="col-sm-4">Website</dt>
        <dd class="col-sm-8">
          <a href="<%= @authority.link %>"><%= @authority.link %></a>
        </dd>
      <% end %>
    </dl>

  </div>

  <div class="col-4">

    <% unless @authority.logo.nil? %>
      <img
        src="<%= @authority.logo %>"
        width="320" height="240"
        class="img-thumbnail"
        alt="<%= @authority.name %> 320x240 Logo" />
    <% end %>

  </div>
</div>

<h2>Services</h2>

<% unless @authority.services.empty? %>
  <ul>
    <% @authority.services.each do |service| %>
      <li>
        <a href="<%= service.path %>"><%= service.name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><em>This authority does not define any UK DAB or FM services.</em></p>
<% end %>
