<% content_for :page_title, 'Ruby Gems' %>

<div>
  <h1>Ruby Gems</h1>
  <p class="lead">
    radiodns.uk is powered by <a href="http://roda.jeremyevans.net/">Roda</a>,
    <a href="http://sequel.jeremyevans.net/">Sequel</a> and several other ruby gems:
  </p>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
  <% @specs.each do |spec| %>
    <tr>
      <td><a href="<%= spec.homepage %>"><%= spec.name %></a></td>
      <td><a href="http://rubygems.org/gems/<%= spec.name %>/versions/<%= spec.version %>"><%= spec.version %></td>
      <td><%= spec.summary %></td>
    </tr>
 <% end %>
 </tbody>
</table>
