<% content_for :page_title, 'Home' %>

<div id="logobar" class="container clearfix">
  <% @logos.each do |logo| %>
    <a href="<%= logo.service.path %>">
    <%== content_tag('img', nil, :src => logo.url, :width => 64, :height => 64, :class => "float-left") %>
    </a>
  <% end %>
</div>

<div class="container">
  <p id="headline" class="lead">
    This site is a directory listing of the <em><%= Service.valid.count %></em> radio stations in the United Kingdom
    which have <a href="https://www.radiodns.org/">RadioDNS</a> Hybrid Radio services available.

    The list of frequencies, identifiers, multiplexes and transmitters is retrieved from the
    <a href="https://www.ofcom.org.uk/spectrum/information/radio-tech-parameters">Ofcom Technical parameters</a>.
    The service information is then fetched using the RadioEPG Service Information protocol
    (aka <a href="http://www.etsi.org/deliver/etsi_ts/102800_102899/102818/03.01.01_60/ts_102818v030101p.pdf">ETSI TS 102 818</a>).
  </p>
</div>

<div class="container">
  <p>This site has information about:</p>
  <ul>
    <li><%= Authority.valid.count %> RadioDNS <a href="/authorities">Authorities</a></li>
    <li><%= Service.valid.count %> RadioDNS <a href="/services">Services</a> (Radio Stations)</li>
    <li><%= Multiplex.count %> <a href="/multiplexes">DAB Multiplexes</a></li>
    <li><%= Transmitter.count %> <a href="/transmitters">Transmitter sites</a></li>
  </ul>
</div>

<div class="container">
  <p>The following reports list some of the data that doesn't match up:</p>
  <ul>
    <li><a href="/reports/no-radiodns">Bearers with no radiodns.org entry</a></li>
    <li><a href="/reports/no-si-xml">Stations with no service entry</a></li>
    <li><a href="/reports/unknown-to-ofcom">Bearers that aren't known to Ofcom</a></li>
  </ul>
</div>

<div class="container">
  <p>You can also <a href="/logos">download logo packs</a>, containing all the UK radio stations logos in a Zip file.</p>
</div>
