<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title><%= content_for :page_title %> - radiodns.uk</title>
    <link rel="canonical" href="<%= canonical_url %>" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/leaflet/leaflet.js"></script>
  </head>
  <body>
    <header>
      <%== partial "navbar" %>
    </header>

    <div class="container">
      <%== yield %>
    </div>

    <%== partial "footer" %>
  </body>

</html>
