<% content_for :page_title, @multiplex.name %>

<h1><%= @multiplex.name %> Multiplex</h1>

<dl class="row">
  <dt class="col-sm-3">Licensed Area</dt>
  <dd class="col-sm-9"><%= @multiplex.area %></dd>
  <dt class="col-sm-3">Frequency</dt>
  <dd class="col-sm-9"><%= @multiplex.block %> (<%= @multiplex.frequency %> MHz)</dd>
  <dt class="col-sm-3">Ofcom License Number</dt>
  <dd class="col-sm-9"><%= @multiplex.licence_number %></dd>
  <dt class="col-sm-3">Number of Transmitters</dt>
  <dd class="col-sm-9"><%#= @multiplex.transmitters.count %></dd>
</dl>

<h3>Services</h3>
<table class="table table-sm table-responsive">

  <thead>
    <tr>
      <th scope="col">SID</th>
      <th scope="col">Label</th>
    </tr>
  </thead>

  <tbody>
    <% @multiplex.bearers.each do |bearer| %>
      <tr>
        <td>
          <%= bearer.sid %>
        </td>
        <td>
          <%= bearer.ofcom_label %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Transmitters</h3>
<table class="table table-sm table-responsive">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
    </tr>
  </thead>

  <tbody>
    <% @multiplex.transmitters.each do |transmitter| %>
      <tr>
        <td>
          <a href="/transmitters/<%= transmitter.ngr.downcase %>"><%= transmitter.name %></a>
        </td>
        <td>
          <%= transmitter.area %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
  <p class="text-secondary mt-3">
    This page uses data from Ofcom that was last updated: <%= @multiplex.updated_at %>.
  </p>
</div>
