<% content_for :page_title, "List of DAB Multiplexes in the UK" %>

<div class="table-responsive">
  <table class="table">

  <thead>
    <tr>
      <th scope="col">EID</th>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
      <th scope="col">Block</th>
      <th scope="col">Services</th>
      <th scope="col">Transmitters</th>
    </tr>
  </thead>

  <tbody>
    <% @multiplexes.each do |multiplex| %>
      <tr>
        <td>
          <%= multiplex.eid %>
        </td>
        <td>
          <%== link_to(multiplex.name, multiplex.path) %>
        </td>
        <td>
          <%= multiplex.area %>
        </td>
        <td>
          <%= multiplex.block %>
        </td>
        <td>
          <%= multiplex.bearers.count %>
        </td>
        <td>
          <%= multiplex.transmitters.count %>
        </td>
      </tr>
    <% end %>
  </tbody>

  </table>
</div>
