<% content_for :page_title, @service.name %>
<% content_for :page_description, @service.short_description || @service.long_description %>

<% content_for :head do %>
  <meta property="og:type" content="music.radio_station" />
  <% @service.logos_set.each do |logo| %>
    <meta property="og:image:url" content="<%= logo.url %>" />
    <% unless logo.mime_type.nil? %>
    <meta property="og:image:type" content="<%= logo.mime_type %>" />
    <% end %>
    <meta property="og:image:width" content="<%= logo.width %>" />
    <meta property="og:image:height" content="<%= logo.height %>" />
  <% end %>

  <% unless @service.logo_600.nil? %>
    <meta property="twitter:image" content="<%= @service.logo_600.url %>" />
  <% end %>
<% end %>

<dl class="row">
  <dt class="col-sm-3">Authority:</dt>
  <dd class="col-sm-9"><%== link_to_authority(@service.authority) %></dd>
</dl>

<p>
  <%= @service.description %>
</p>


<%== partial("applications", :locals => {:type => 'service', :authority => @service.authority, :bearer => @bearer}) %>

<div class="row">
  <div class="col-md-6">

    <% unless @service.links.empty? %>
    <h3>Links</h3>
    <ul>
      <% @service.links.each do |link| %>
        <li><%== link_to(link.description || link.uri, link.uri) %></li>
      <% end %>
    </ul>
    <% end %>

    <% unless @service.genres.empty? %>
    <h3>Genres</h3>
    <ul>
      <% @service.genres.each do |genre| %>
        <li><abbr title="<%= genre.urn %>"><%= genre.name %></abbr></li>
      <% end %>
    </ul>
    <% end %>

    <% unless @service.dab_bearers.empty? %>
    <h3>DAB Multiplexes</h3>
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th scope="col">Bearer ID</th>
          <th scope="col">Multiplex Name</th>
          <th scope="col">Block</th>
        </tr>
      </thead>

      <tbody>
        <% @service.dab_bearers.each do |bearer| %>
          <tr>
            <td>
              <%= bearer.uri %>
            </td>
            <td>
              <% unless bearer.multiplex.nil? %>
                <%== link_to(bearer.multiplex.name, bearer.multiplex.path) %>
              <% else %>
                Unknown
              <% end %>
            </td>
            <td>
              <% unless bearer.multiplex.nil? %>
                <%= bearer.multiplex.block %>
              <% else %>
                Unknown
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <% unless @service.fm_bearers.empty? %>
    <h3>FM Transmitters</h3>
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th scope="col">Bearer ID</th>
          <th scope="col">Frequency</th>
          <th scope="col">Transmitters</th>
        </tr>
      </thead>

      <tbody>
        <% @service.fm_bearers.each do |bearer| %>
          <tr>
            <td>
              <%= bearer.uri %>
            </td>
            <td>
              <%= bearer.frequency %> MHz
            </td>
            <td>
              <ul class="list-unstyled">
                <% bearer.transmitters.each do |transmitter| %>
                  <li><%== link_to(transmitter.name, transmitter.path) %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>

  <div class="col-md-6">
    <% @service.logos_set.each do |logo| %>
      <div style="margin-bottom: 2em">
      <h5><%= logo.size %></h5>
        <img class="img-thumbnail"
             src="<%= logo.url %>"
             width="<%= logo.width %>"
             height="<%= logo.height %>"
             alt="<%= @service.name %> <%= logo.size %> Logo"
        />
      </div>
    <% end %>
  </div>

</div>

<div class="row mt-3">
  <div class="col-md-12">
    <p class="text-secondary mt-3">
      Most of the data on this page comes the SI.xml file from
      <%== link_to(@service.authority.fqdn, @service.authority.path) %>
      that was last updated: <%= @service.authority.updated_at || 'n/a' %>.
    </p>
  </div>
</div>
