<% content_for :page_title, @service.name %>

<h1><%= @service.name %></h1>

<div class="row">
  <div class="col-6">
    <p>
      <%= @service.description %>
    </p>

    <% unless @service.links.empty? %>
    <h2>Links</h2>
    <ul>
      <% @service.links.each do |link| %>
        <li><a href="<%= link.uri %>"><%= link.description || link.uri %></a></li>
      <% end %>
    </ul>
    <% end %>

    <% unless @service.genres.empty? %>
    <h2>Genres</h2>
    <ul>
      <% @service.genres.each do |genre| %>
        <li><abbr title="<%= genre.urn %>"><%= genre.name %></abbr></li>
      <% end %>
    </ul>
    <% end %>

    <h2>Bearers</h2>
    <ul>
      <% @service.bearers.each do |bearer| %>
        <li><%= bearer.uri %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-6">
    <% @service.logos_set.each do |logo| %>
      <div style="margin-bottom: 2em">
      <h5><%= logo.size %></h5>
        <img class="img-thumbnail"
             src="<%= logo.url %>"
             width="<%= logo.width %>"
             height="<%= logo.height %>"
             alt="<%= @service.name %> <%= logo.size %> Logo"
        />
      </div>
    <% end %>
  </div>

</div>

<div class="row">
  <p>
    <b>RadioDNS FQDN:</b>
    <a href="/authorities/<%= @service.authority.fqdn %>"><%= @service.authority.fqdn %></a>
  </p>
</div>
