<% content_for :page_title, "#{@transmitter.name} Transmitter" %>

<div class="row">

  <div class="col-md-7">
    <dl class="row">
      <dt class="col-sm-4">Area</dt>
      <dd class="col-sm-8"><%= @transmitter.area %></dd>
      <dt class="col-sm-4">County</dt>
      <dd class="col-sm-8">
        <% if @transmitter.county %>
          <%== link_to(@transmitter.county, "/transmitters/counties/#{@transmitter.county.url_key}") %>
        <% else %>
          <i>n/a</i>
        <% end %>
      </dd>
      <dt class="col-sm-4">National Grid Reference</dt>
      <dd class="col-sm-8"><%= @transmitter.ngr %></dd>
      <dt class="col-sm-4">WGS84 Coordinates</dt>
      <dd class="col-sm-8"><%= @transmitter.lat %>, <%= @transmitter.long %></dd>
      <dt class="col-sm-4">Site Height</dt>
      <dd class="col-sm-8"><%= @transmitter.site_height %>m</dd>
      <dt class="col-sm-4">Total Power</dt>
      <dd class="col-sm-8"><%= format_power(@transmitter.total_power) %></dd>
    </dl>

    <% unless @transmitter.multiplexes.count == 0 %>
    <h3>DAB Multiplexes</h3>
    <div class="table-responsive">
    <table class="table table-sm">

      <thead>
        <tr>
          <th scope="col">EID</th>
          <th scope="col">Name</th>
          <th scope="col">Block</th>
        </tr>
      </thead>

      <tbody>
        <% @transmitter.multiplexes.each do |multiplex| %>
          <tr>
            <td>
              <%= multiplex.eid %>
            </td>
            <td>
              <%== link_to(multiplex.name, multiplex.path) %>
            </td>
            <td>
              <%= multiplex.block %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% end %>

    <% unless @transmitter.bearers.count == 0 %>
    <h3>FM Services</h3>
    <div class="table-responsive">
    <table class="table table-sm">

      <thead>
        <tr>
          <th scope="col">Frequency</th>
          <th scope="col">PI Code</th>
          <th scope="col">Service</th>
          <th scope="col">Authoritative FQDN</th>
        </tr>
      </thead>

      <tbody>
        <% @transmitter.bearers.each do |bearer| %>
          <tr>
            <td>
              <%= bearer.frequency %> MHz
            </td>
            <td>
              <%= bearer.sid %>
            </td>
            <td>
              <% if bearer.service %>
                <%== link_to(bearer.service.name, bearer.path) %>
              <% else %>
                <%= bearer.ofcom_label %>
              <% end %>
            </td>
            <td>
              <%== link_to_authority(bearer.authority) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% end %>
  </div>

  <div class="col-md-5">
    <h3>Map</h3>
    <%== partial('map', :locals => {:transmitters => [@transmitter]}) %>
    <div>
      <small>
        <b>Map links:</b>
        <% escaped_name = CGI.escape(@transmitter.name + " Transmitter") %>
        <%== link_to('OpenStreetMap', "https://www.openstreetmap.org/#map=17/#{@transmitter.lat}/#{@transmitter.long}") %>,
        <%== link_to('Bing Maps', "https://www.bing.com/maps?v=2&cp=#{@transmitter.lat}~#{@transmitter.long}&lvl=16&dir=0&sty=o&sp=point.#{@transmitter.lat}_#{@transmitter.long}_#{escaped_name}") %>,
        <%== link_to('Google Maps', "https://www.google.com/maps/search/?api=1&query=#{@transmitter.lat},#{@transmitter.long}") %>
      </small>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col-md-12">
    <p class="text-secondary mt-3">
      This page uses data from Ofcom that was last updated: <%= @transmitter.updated_at %>.
    </p>
  </div>
</div>

<script type="application/ld+json">
  <%== render('transmitters_show.jsonld', engine: 'yajl') %>
</script>
