<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= tag('link', :rel => :canonical, :href => File.join(app.config.url_root, current_page.url)) %>

    <title><%= current_page.data.name %> - radiodns.uk</title>
    <%= stylesheet_link_tag "bootstrap-4.0.0-beta.2.min.css" %>
    <%= stylesheet_link_tag "style.css" %>
  </head>
  <body>
    <%= partial "navbar" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= partial "footer" %>

    <%= javascript_include_tag "jquery-3.2.1.slim.min.js" %>
    <%= javascript_include_tag "bootstrap-4.0.0-beta.2.bundle.min.js" %>
  </body>

</html>
