<% wrap_layout :layout do %>
  <h1><%= current_page.data.name %></h1>

  <div class="row">
    <div class="col-6">
      <p>
        <%= current_page.data.long_description || current_page.data.short_description %>
      </p>

      <% unless current_page.data.links.empty? %>
        <h2>Links</h2>
        <ul>
          <% current_page.data.links.each do |link| %>
            <li><%= link_to(link, link) %></li>
          <% end %>
        </ul>
      <% end %>

      <% unless current_page.data.genres.empty? %>
        <h2>Genres</h2>
        <ul>
          <% current_page.data.genres.each_pair do |id,name| %>
            <li><%= content_tag('abbr', name, :title => id) %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>Bearers</h2>
      <ul>
        <% current_page.data.bearers.each_pair do |bearer_id, bearer| %>
          <% if bearer_id.match(/^dab:ce1\.(\w{4})/) %>
            <% res = sitemap.find_resource_by_page_id($1) %>
            <% unless res.nil? %>
              <li>DAB: <%= link_to(res.data.name, res) %></li>
            <% else %>
              <li>Unknown DAB multiplex: <%= bearer_id %></li>
            <% end %>
          <% else %>
            <li><%= bearer_id %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-6">
      <% ['600x600', '320x240', '128x128', '112x32', '32x32'].each do |size| %>
        <div style="margin-bottom: 2em">
        <h5><%= size %></h5>
        <% width, height = size.split('x') %>

        <% if current_page.data.logos[size] %>
          <%= link_to( image_tag(
            current_page.data.logos[size].url,
            :class => 'logo img-thumbnail',
            :alt => "#{size} #{current_page.data.name} Logo",
            :width => width,
            :height => height,
            ), current_page.data.logos[size].url, :title => size, :target => '_blank')
          %>
        <% else %>
          <%= image_tag(
            "/images/placeholder/#{size}.svg",
            :class => 'logo img-thumbnail',
            :alt => "No logo available at #{size}",
            :width => width,
            :height => height,
            )
          %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <p>
      <b>RadioDNS FQDN:</b> <%= content_tag('code', current_page.data.fqdn) %>
    </p>
  </div>

<% end %>
